* {
  text-align: center;
}
p {
  font-size: large;
}
.kaka {
  background-color: black;
  color: green;
}
#lies {
  display: none;
}
.kaka{
    background-color: black;
    color: green;
}p{
    font-size: large;
}
.text{
    color: aqua;
}
